<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8" /> 
<title>test</title> 
</head> 
 
<body> 

<p>改大图片</p> 
<p> 
<img src="test.jpg" width="1000" height="600" /> 
</p> 
<form action="" method="get" style="position: absolute; right:100px; top:20px"> 
在此处标注：<br /><br /> 
<label><input name="Fruit" type="checkbox" value="" />苹果 </label> 
<label><input name="Fruit" type="checkbox" value="" />桃子 </label> 
<label><input name="Fruit" type="checkbox" value="" />香蕉 </label> 
<label><input name="Fruit" type="checkbox" value="" />梨 </label> 
</form>
</body> 
</html> 